@(message: String)

@import play.api.i18n.Messages

@main("APPtitude") {
    <!-- Header -->
    <section id="header">

        <div class="image left">
            <img onclick="window.open('http://www.iitmandi.ac.in')" style="width:5%; height:auto; position: fixed; left: 5px;" src='@routes.Assets.at("images/logo_mandi_white.png")'/>
        </div>
	<div class="image right">
	        <img onclick="window.open('https://developers.google.com/groups/chapter/114790565755036483829/')" style="width:20%; height:auto; position: fixed; right: 5px;" src='@routes.Assets.at("images/GDG_Logo.png")'/>
	    </div>
	<div>
	  <img style="	display: block;  margin:auto" src='@routes.Assets.at("images/google.png")'/>
	  </div>

        

        <header  class="major">
            <div id="top_info">
                <span style="font-size: 200%;">
                    <a href="http://www.iitmandi.ac.in">IIT Mandi</a>
                </span>
                <span style="font-size: 150%;">
                    and
                </span>
                <span style="font-size: 200%;">
                    <a href="https://developers.google.com/groups/chapter/114790565755036483829/">GDG Jalandhar</a>
                </span>
                <span style="font-size: 150%;">
                    presents
                </span>
            </div>
            <h1 >
                <span>
                    @message
                </span>
            </h1>
            <h2>
                Android Hackathon
            </h2>
            
            <div>
                <span>
                    <a href="#two"><h3 style="color: yellow;">Think, Design, Develop, Present and Win.</h3></a>
                </span>
            </div>
	    

        </header>
        
        
        <div class="container">
            
            <div id="remind_me_form">
                
                <div id="remind_me_email">
                    <input type="text" name="name" id="email_id" placeholder="Enter Email here to get Notified when registration starts"/>
                    <p id="email_id_msg"></p>
                </div>

                <div >
                    <button id="notify_me" class="button special">notify me when Registration begins</button>
                </div>
                
                <div style="margin-top: 5px;">
                    <a  href="#one" class="got-next scrolly"><img src="assets/css/images/arrow.svg" alt="down"/></a>
                </div>
                
            </div>
            
        </div>
                
    </section>

    <!-- One -->
    <section id="one" class="main special">
        <div class="container">
            <span class="image fit primary"><img src='@routes.Assets.at("images/pic01.jpg")' alt="" /></span>
            <div class="content">
                <header class="major">
                    <h2>What is Apptitude ?</h2>
                </header>
                <p>@Messages("what_is_apptitude")</p>
                <!--
                <div>
                    <button id="register" class="button special" onclick="window.open('http://goo.gl/forms/9Sy5jFr1iN')">Register</button>
                </div>
                -->
                
                
            </div>
            <a href="#two" class="goto-next scrolly">Next</a>
        </div>
    </section>

    <!-- Two -->
    <section id="two" class="main special">
        <div class="container">
            <span class="image fit primary"><img src='@routes.Assets.at("images/pic02.jpg")' alt="" /></span>
            <div class="content">
                <header class="major">
                    <h2>What To Do ?</h2>
                </header>
		<div style="text-align:left">
                <p>Build app on your choice of theme and win exciting prizes.</p>
	
		<p><strong>Winner Team</strong> - Cash Prize of 10k & Internship Opportunity</p>
		<p><strong>Runner Up Team</strong> - Cash Prize of 5k & Internship Opportunity</p>
		<p><strong>Second Runner Up</strong> - Internship Opportunity</p>
		<p>The Prizes will be enhanced soon. More good things are coming your way!</p> 
		</div>
                <ul class="icons-grid">
                    <li>
                        <span class="icon major fa-coffee "></span>
                        <h3>Ideate</h3>
                    </li>
                    <li>
                        <span class="icon major fa-pencil"></span>
                        <h3>Design</h3>
                    </li>
                    <li>
                        <span class="icon major fa-code"></span>
                        <h3>Code</h3>
                    </li>
                    <li>
                        <span class="icon major fa-camera-retro"></span>
                        <h3>Present</h3>
                    </li>
                </ul>
		 <div>
                    <button id="rules" class="button special" onclick="window.open('/rules')">Rules and Regulations</button>
                </div>
            </div>
            <a href="#three" class="goto-next scrolly">Next</a>
        </div>
    </section>

    <!-- Three -->
    <section id="three" class="main special">
        <div class="container">
            <span class="image fit primary"><img src='@routes.Assets.at("images/pic03.jpg")' alt="" /></span>
            <div class="content">
                <header class="major">
                    <h2>Event Timeline</h2>
                </header>
		<div style="text-align: left">
		<p><strong>March 1st</strong> : Announcement of event</p>
		<p><strong>March 5th</strong> : Registration Open</p>
		<p><strong>March 15th</strong> : Final Day for Registration & Idea Submission</p>
		<p><strong>March 16th</strong> : Result Announcement of the First Round</p>
		<p><strong>March 28th</strong> : Final Day for App Submission : Second Round</p>
		<p><strong>March 30</strong> : Announcement of the finalists for App Expo.</p>
		<p><strong>April 4th</strong> : Showcasing of App : Final Round</p>
		<p><strong>April 4th</strong> : Result Announcement</p>
		</div>

            </div>
            <a href="#four" class="goto-next scrolly">Next</a>
        </div>
    </section>

    <!-- Four -->
    <section id="four" class="main special">
        <div class="container">
            <span class="image fit primary"><img src='@routes.Assets.at("images/pic04.jpg")' alt="" /></span>
            <div class="content">
                <header class="major">
                    <h2>About Us</h2>
                </header>
                <h3>Mad at IIT mandi</h3>
                <p>@Messages("mad")</p>
             <!--   <div>
                   <div class="profile_image">
                      <img class="avatar-frame" src='@routes.Assets.at("images/prateek.jpg")' alt=""/>
                      <span class="caption">Prateek</span>
                  </div>
                    <div class="profile_image" onclick="window.open('https:www.fb.com/nagarjuna.pamu')">
                        <img class="avatar-frame" src='@routes.Assets.at("images/pamu.png")' alt=""/>
                        <span class="caption">Pamu</span>
                    </div>
                     <div class="profile_image">
                  <img class="avatar-frame" src='@routes.Assets.at("images/chinmay.jpg")' alt=""/>
                  <span class="caption">Chinmay</span>
                  </div>
                    <div class="profile_image">
                        <img class="avatar-frame" src='@routes.Assets.at("images/chaman_kumar.jpg")' alt=""/>
                        <span class="caption">Chaman</span>
                    </div>
                    <div class="profile_image">
                        <img class="avatar-frame" src='@routes.Assets.at("images/saif_ali_akhtar.jpg")' alt=""/>
                        <span class="caption">Saif Ali Akhtar</span>
                    </div>
                 </div>-->

                <h3 style="margin-top: 50px">GDG Jalandhar</h3>
                <p>@Messages("gdg")</p>
                <!--<div>
                  <div class="profile_image">
                  <img class="avatar-frame" src='@routes.Assets.at("images/Avinash.jpg")' alt=""/>
                  <span class="caption">Avinash</span>
                  </div>
                  <div class="profile_image">
                  <img class="avatar-frame" src='@routes.Assets.at("images/Harpinder.jpg")' alt=""/>
                    <span class="caption">Harpinder</span>
                    </div>
                    <div class="profile_image">
                    <img class="avatar-frame" src='@routes.Assets.at("images/Piyush.jpg")' alt=""/>
                    <span class="caption">Piyush</span>
                    </div>
                     <div class="profile_image">
                    <img class="avatar-frame" src='@routes.Assets.at("images/Nitika.jpg")' alt=""/>
                    <span class="caption">Nitika</span>
                     </div>
                     <div class="profile_image">
                    <img class="avatar-frame" src='@routes.Assets.at("images/Rajkamal.jpg")' alt=""/>
                    <span class="caption">Rajkamal</span>
                    </div>
                     <div class="profile_image">
                    <img class="avatar-frame" src='@routes.Assets.at("images/Shiju.jpg")' alt=""/>
                    <span class="caption">Shiju</span>
                    </div>
                    

                </div>-->
		<h3 style="margin-top: 50px">Google Student Ambassadors</h3>
		<p>Google Student Ambassadors are the liasons between Google and Universities. They are motivated tribe of students, eager to bring students together and forward for Android Application Development.. Their thrill of new technology, enthusiasm about Google, and high involvement in their communities, helps them achieve this in an optimum way.</p>
            </div>
            <a href="#footer" class="goto-next scrolly">Next</a>
        </div>
    </section>

    <!-- Footer -->
    <section id="footer">
        <div class="container">
            
            <header class="major">
                <h2>Get in touch</h2>
            </header>
            
            <div id="form">
                <div class="row uniform">
                    <div class="6u 12u$(xsmall)">
                        <input type="text" name="name" id="name" placeholder="Name" />
                        <p id="name_msg"></p>
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <input type="email" name="email" id="email" placeholder="Email"/>
                        <p id="email_msg"></p>
                    </div>
                    <div class="12u$">
                        <textarea name="message" id="message" placeholder="Message" rows="4"></textarea>
                        <p id="message_msg"></p>
                    </div>
                    
                    <div class="12u$">
                        <button id="form_submit" style="margin: 15px;" class="button special">Submit</button>
                    </div>
                </div>
            </div>
            <a href="#six" class="goto-next scrolly"><img src='@routes.Assets.at("css/images/arrow.svg")' alt="down"/></a>
        </div>
        
        <section id="six" class="main special">
            <div class="container">
                <span class="image fit primary"><img src='@routes.Assets.at("images/pic05.jpg")' alt="" /></span>
                <div class="content">
                    <header class="major">
                        <h2>Discuss</h2>
                    </header>
                    
                    <div id="disqus_thread"></div>
                    
                    <script type="text/javascript">
                        /* * * CONFIGURATION VARIABLES * * */
                        var disqus_shortname = 'httpapptitude2015herokuappcom';
                        
                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

                    <!--
                    <header class="major">
                        <h2>Reach Us</h2>
                    </header>
                    
                    <div id="map-canvas"></div>
                    -->
                    
                    <!--
                    <header class="major">
                        <h2>Page Hits</h2>
                    </header>
                    <div id="hits_section">
                        <h1 id="hits">
                            0
                        </h1>
                    </div>
                    -->
                    
                </div>
            </div>
        </section>
        
        <footer>
            <ul class="icons">
                <li><a href="https://twitter.com/Apptitude2015" class="icon alt fa-twitter" ><span class="label">Twitter</span></a></li>
                <li><a href="https://www.facebook.com/apptitude15" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
                <!--<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon alt fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>-->
            </ul>
            <ul class="copyright" style="font-size: 100%;">
                <li>&copy; MAD IIT Mandi</li>
                <li>Tech Lead and Backend Engineer: <a href="http://github.com/pamu">Pamu</a></li>
                <li>Design: <a href="http://github.com/chinmaykrishna">Chinmay</a> and <a href="http://github.com/pamu">Pamu</a></li>
                <li>Want to Contribute: <a href="#footer">Contact Us</a></li>
            </ul>
        </footer>
    </section>
}
