@(message: String)

@import play.api.i18n.Messages

@main("Apptitude 2015") {
    <!-- Header -->
    <section id="header">
      <div class="image right">
	<img style="width:50%; height:auto" src='@routes.Assets.at("images/GDG_Logo.png")'/>
	</div>
	
        <header class="major">
            <div>
                <span style="font-size: 200%;">
                    <a href="http://www.iitmandi.ac.in">IIT Mandi</a>
                </span>
                <span style="font-size: 100%;">
                    and
                </span>
                <span style="font-size: 200%;">
                    <a href="https://developers.google.com/groups/chapter/114790565755036483829/">GDG Jalandar</a>
                </span>
                <span style="font-size: 100%;">
                    presents
                </span>
            </div>
            <h1>
                <span>
                    @message
                </span>
            </h1>
            <h2>
                <span>
                    Android Hackathon by <a href="http://www.iitmandi.ac.in">IIT Mandi</a>
                </span>
            </h2>
            <div>
                <span style="font-size: 160%;">
                    Win Prizes worth rupees 1Lac, get internship opportunities and meet real android developers*
                </span>
            </div>
            <div>
                <p>Page Hits</p>
            </div>
            <div id="hits_section">
                <h1 id="hits">
                    0
                </h1>
            </div>
        </header>
        <div class="container">
            <ul class="actions">
                <li><a href="#one" class="button special scrolly">Begin</a></li>
            </ul>
        </div>
    </section>

    <!-- One -->
    <section id="one" class="main special">
        <div class="container">
            <span class="image fit primary"><img src='@routes.Assets.at("images/pic01.jpg")' alt="" /></span>
            <div class="content">
                <header class="major">
                    <h2>What is Apptitude ?</h2>
                </header>
                <p>@Messages("appathon.what_is_apptitude")</p>
                <div>
                    <button id="register" class="button special" onclick="window.open('http://goo.gl/forms/9Sy5jFr1iN')">Register</button>
                </div>
            </div>
            <a href="#two" class="goto-next scrolly">Next</a>
        </div>
    </section>

    <!-- Two -->
    <section id="two" class="main special">
        <div class="container">
            <span class="image fit primary"><img src='@routes.Assets.at("images/pic02.jpg")' alt="" /></span>
            <div class="content">
                <header class="major">
                    <h2>What To Do ?</h2>
                </header>
                <p>@Messages("Build app on your choice of theme and win exciting prizes")</p>
                <ul class="icons-grid">
                    <li>
                        <span class="icon major fa-camera-retro"></span>
                        <h3>Ideate</h3>
                    </li>
                    <li>
                        <span class="icon major fa-pencil"></span>
                        <h3>Design</h3>
                    </li>
                    <li>
                        <span class="icon major fa-code"></span>
                        <h3>Code</h3>
                    </li>
                    <li>
                        <span class="icon major fa-coffee"></span>
                        <h3>Present</h3>
                    </li>
                </ul>
		 <div>
                    <button id="rules" class="button special">Rules and Regulations</button>
                </div>
            </div>
            <a href="#three" class="goto-next scrolly">Next</a>
        </div>
    </section>

    <!-- Three -->
    <section id="three" class="main special">
        <div class="container">
            <span class="image fit primary"><img src='@routes.Assets.at("images/pic03.jpg")' alt="" /></span>
            <div class="content">
                <header class="major">
                    <h2>Event Timeline</h2>
                </header>
                <p>1st March : Registrations and app idea submission start</p>
                <p>14th March: Final Day for Registrations and Idea Submission : First Round</p>
		<p>16th March: Result Announcement of the First Round</p>
		<p>30th March: Final Day for App apk Submission : Second Round</p>
		<p>4th April : Showcasing of App : Final Round and Result anouncement</p>

            </div>
            <a href="#four" class="goto-next scrolly">Next</a>
        </div>
    </section>

    <!-- Four -->
    <section id="four" class="main special">
        <div class="container">
            <span class="image fit primary"><img src='@routes.Assets.at("images/pic04.jpg")' alt="" /></span>
            <div class="content">
               
		<header class="major">
                    <h2>About MAD</h2>
                </header>
                <p>@Messages("appathon.mad")</p>

            </div>
            <a href="#footer" class="goto-next scrolly">Next</a>
        </div>
    </section>

    <!-- Footer -->
    <section id="footer">
        <div class="container">
            <header class="major">
                <h2>Get in touch</h2>
            </header>
            <div id="form"><!--method="post" action="/contact"-->
                <div class="row uniform">
                    <div class="6u 12u$(xsmall)">
                        <input type="text" name="name" id="name" placeholder="Name" />
                        <p id="name_msg"></p>
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <input type="email" name="email" id="email" placeholder="Email"/>
                        <p id="email_msg"></p>
                    </div>
                    <div class="12u$">
                        <textarea name="message" id="message" placeholder="Message" rows="4"></textarea>
                        <p id="message_msg"></p>
                    </div>
                    
                    <div class="12u$">
                        <button id="form_submit" class="button special">Submit</button>
                        <!--
                        <ul class="actions">
                            <li><input type="submit" value="Send Message" class="special" /></li>
                        </ul>
                        -->
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <ul class="icons">
                <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
                <!--<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon alt fa-dribbble"><span class="label">Dribbble</span></a></li>-->
                <li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; MAD IIT Mandi</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li><li>Images: <a href="http://unsplash.com">Unsplash</a></li>
            </ul>
        </footer>
    </section>
}
