@()

@import play.api.i18n.Messages

@main("Apptitude 2015"){
<!-- You html goes here -->
<section  class="main special">
  <div class="container">
    <div class="content">
      <header class="major">
        <h2>Rules and Regulations</h2>
      </header>
      <h3>ELIGIBILITY</h3>
      <ul style="text-align:left">
	<li>
	  <span>This Competition is open, free of registration or other kind of fee.</span>
	</li>
	<li>
	  <span>All Contestants must have access to the Internet, a valid postal address, and a
	    valid email address in order to enter.
	  </span>
	</li>
	<li>
	  <span>Finalists will be requested to provide official documents as proof of age and
	    identity.
	  </span>
	</li>
	<li>
	  <span>GDG Jalandhar, IIT Mandi and the organizing team reserves the right to verify
	    eligibility and to adjudicate on any dispute at any time.
	  </span>
	</li>
	<li>
	  <span>The Competition is void where prohibited by law.
	  </span>
	</li>
	<li>
	  <span>All communications between Apptitude Organizers and Contestants, including
	    but not limited to the Competition website content and email communications, will
	    be in English.
	  </span>
	</li>
	
      </ul>

      <h3>HOW TO ENTER
      </h3>
      <ul style="text-align:left">
	<li>
	  <span>All Contestants must register and provide the required personal information at the
	    Competition Website, located at: www.apptitude.co.in
	  </span>
	</li>
	<li>
	  <span>Contestants can participate either single or in a team of upto four members.
	  </span>
	</li>
	<li>
	  <span>Contestants may only register for the Competition with one valid email address.
	    Contestants attempting to compete with multiple email addresses will be disqualified.

	  </span>
	</li>
	
      </ul>

      <h3>COMPETITION STRUCTURE

      </h3>
      <ul style="text-align:left">
	<li>
	  <span><strong>First (Idea Submission) Round :</strong> The Competition will start with an Idea
	    Submission Round on March 5, 2015 and ends on March 15, 2015. All registered
	    teams will have to describe their ideas for mobile applications. Contestants can
	    submit more than one idea during this round. Teams which will pass the
	    evaluation for first round, will be eligible to proceed to the next round.

	  </span>
	</li>
	<li>
	  <span><strong>Second (Application Submission) Round :</strong> The qualifiers of the first round will
	    be informed by e-mail, within a day after the deadline of the first round. During
	    the second Round, the qualifiers will have to confirm within a day after the
	    announcement (i) their participation to the second round (ii) which one of their
	    qualified ideas choose to proceed with the implementation. The contestant
	    should submit their completed app, along with a YouTube video demonstration of
	    the app. Last day for submission of app is March 28, 2015. The list of selected
	    applications will be released on 30 th March. The qualifiers will be informed via e-
	    mail.

	  </span>
	</li>
	<li>
	  <span><strong>App Expo :</strong> Selected applications will be called for the final presentation either in
	    person at the IIT Mandi campus during the expo or virtually via Google Hangout
	    on April 4, 2015 . ENVIRONMENT. Contestants may use any programming
	    language to implement their proposed applications, using any development
	    environment they wish. The only restriction, is the final application to be a native
	    Android application.

	  </span>
	</li>
	
      </ul>
      <h3>TOPICS
      </h3>
      <p style="text-align:left"> Contestants must build an app targeting any one of the following :-
      </p>
      <ul style="text-align:left">
	<li>
	  <span>Education system in India
	  </span>
	</li>
	<li>
	  <span>Indian tourism

	  </span>
	</li>
	<li>
	  <span>Health and fitness

	  </span>
	</li>
	<li>
	  <span>Social cause</span>
	</li>
      </ul>

<h3>Judging and Scoring</h3>
      
      <ul style="text-align:left">
	<li>
	  <span><strong>First Round:</strong> The scoring criteria of this round are: Originality, Usefulness and
Feasibility of the proposed mobile application.

	  </span>
	</li>
	<li>
	  <span><strong>Second Round:</strong> The scoring criteria of the second round are: Idea fulfillment,
Design, User Experience, Compatibility and Accessibility of the implemented
mobile application.


	  </span>
	</li>
	<li>
	  <span><strong>App Expo:</strong> The finalist teams will be evaluated by our Judges. Peer Evaluation
would also be given a weightage. The final criteria will be announced soon.


	  </span>
	</li>

      </ul>
<h3>ANNOUNCEMENT OF WINNERS AND PRIZES
</h3>
<p style="text-align:left"> Winners will be notified by e-mail within a day after the deadline of the second round.
</p>

    </div>
  </div>
</section>

}
