@()

@import play.api.i18n.Messages

@main("Apptitude 2015"){
    <section class="main special">
        <div class="container">
            <div class="content">
                <header class="major">
                    <h2>Selected Teams for the Second Round</h2>
                </header>
                <div>
                    <h3>
                        These teams have been selected for the next round of APPtitude 2015
                    </h3>
                    <h4 style="color:red;">
                        Congratulations
                    </h4>
                </div>
                <ul style="text-align:left">
                    <li>Codemon</li>
                    <li>DreamChaser</li>
                    <li>ABCD</li>
                    <li>The AndroArms</li>
                    <li>Cruisers</li>
                    <li>EDULIT</li>
                    <li>ABSS</li>
                    <li>tominc</li>
                    <li>BlueBot</li>
                    <li>AAAS</li>
                    <li>Incroyable</li>
                    <li>mars</li>
                    <li>Scallywag</li>
                    <li>Voyagers</li>
                    <li>Electrons</li>
                    <li>ColorCoders</li>
                    <li>Innovation</li>
                    <li>Team DCE</li>
                    <li>jugaad</li>
                    <li>Tamil</li>
                    <li>AppBuilders</li>
                    <li>BITIANS</li>
                    <li>threegooglers</li>
                </ul>
            </pre>
            </div>
        </div>
    </section>
}